body {
    background-image: url(https://i.imgur.com/sNQtOP1.jpg);
    background-size: 200px;
}
.nav-wrapper {
    border: solid;
    border-width: 1px;
    border-color: aqua;
    opacity: 0.9;
}

/* .row {
    width: 600px;

} */
/* 
.card {

    border: solid;
    border-width: 1px;
    border-color: aqua;
}
.row {
    display: flex;
    justify-content: center;
    /* margin-left: ; */
/* }
.card-content {
    opacity: 95%;
}  */

h4 {
    width: 15%;
    display: flex;
    justify-content: center;
    
}
