body {
    background-image: url(https://i.imgur.com/sNQtOP1.jpg);
    background-size: 200px;
}
.nav-wrapper {
    border: solid;
    border-width: 1px;
}

/* .row {
    width: 600px;

} */

/* .card {
    opacity: 0.5;
} */

h4 {
    width: 15%;
}