<%- include('../partials/header') %>
<div class="row">
  <div id="users" class="col s12">
    <div class="card black">
      <div class="card-content white-text">
        <ul class="collection">
          <% posts.forEach(function(post) { %>
          <li class="collection-item  text-darken-2">
            <span class="title black-text"><%= post.text %>-<%= post.category %></span>
          </li>
          <% }) %>
        </ul>
        <div class="card-action">
          <form action="/resourceLinks" method="POST">
            <input type="text" name="text" class="black white-text">
            <button class="btn red white-text">Add post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%- include('../partials/footer') %>