<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="navbar-fixed blue ">
        <nav>
          <div class="nav-wrapper grey">
            <ul>
              <li><a href="/users">Main Page</a></li>
              <li><a href="/techniquesPage">Techniques Posts</a></li>
              <li><a href="/eventsPage">Events Posts</a></li>
              <li><a href="/artistsPage">Artists Posts</a></li>
              <li><a href="/resourceLinks">Resource Links</a></li>
            </ul>
            </div>>
         </nav>
            </div>
    <h1>links page</h1>
</body>
</html>