<%- include('../partials/header') %>
<div class="row">
  <div id="users" class="col s12">
    <div class="card black">
      <div class="card-content white-text">
        <ul class="collection">
          <% posts.forEach(function(p) { %>
          <li class="collection-item  text-darken-2">
            <!-- make this contain a div -->
            <span class="title"><%- p.text %></span>
            <!-- another forEach  posts.comment.forEach-->
          </li>
          <% }) %>
        </ul>
        <div class="card-action">
          <form action="/posts" method="POST">
            <input type="hidden" name="posts">
            <input type="text" name="text" class="black white-text">
            <button class="btn red white-text" type="submit">Add post</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<%- include('../partials/footer') %>