<%- include('../partials/header') %>
<div class="row">
  <div id="users" class="col s12">
    <!-- <div class="card black"> -->
      <div class="card-content white-text">
        <div class="collection col s6">
          <% posts.forEach(function(post) { %>
          <div class="collection-item  text-darken-2">
            <span class="title black-text"><%= post.text %></span>
            <form action="/events/<%= post._id %>?_method=DELETE" method="POST" class="secondary-content">

              <button type="submit" class="waves-effect waves-teal btn-flat red-text">x</button>
            </form>
          </div><br>
          <% }) %>
        </div>
        <div class="card-action">
          <form action="/events" method="POST">
            <input type="text" name="text" class="white black-text">
            <button class="btn red white-text">Add post</button>
          </form>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
</div>
<%- include('../partials/footer') %>